.img-float-left {
	float: left;
}

.img-float-right {
	float: right;
}

.img-float-left,
.img-float-right {
	margin: 60px 0;
}
img.img-float-left,
img.img-float-right {
	max-width: 100%;
}

.detail_name {
	font-size: 60px;
}

.detail_years {
	font-size: 38px;
}