<div class="book-spread">
	<img src="{{ baseUrl }}/images/{{ id }}.png" alt="">
	<a href="{{ baseUrl }}/{% if id > 0 %}{{ id - 1 }}{% else %}{{ pagesNum }}{% endif %}" class="book-nav book-nav-left"></a>
	<a href="{{ baseUrl }}/{% if id < pagesNum %}{{ id + 1 }}{% else %}0{% endif %}" class="book-nav book-nav-right"></a>
</div>