
<div class="list_container" style="width: calc({{ items | length}} * 355px + 144px)">
	{% for index, item in items %}
		<div class="list_item">
			<a href="/children/{{ index }}">
				<div class="list_image"><img src="{{ item.image }}" /></div>
				<div class="list_name">{{ item.name }}</div>
			</a>
		</div>
	{% endfor %}
</div>