
<div class="nav-slide">
<div class="nav-slide-scroll">
{% for index, item in items %}
	<a id="nav-{{ index }}" class="nav-slide-item" href="{{ baseUrl }}/{{ index }}">{{ item.name }}
	</a>
{% endfor %}
{% for index, item in items %}
	<a id="nav-{{ index }}" class="nav-slide-item{% if loop.index == id %} active{% endif %}" href="{{ baseUrl }}/{{ index }}">{{ item.name }}
	</a>
{% endfor %}
</div>
</div>
