	
<div class="scroller_list_container">
	<div class="scroller_list_item">

		<div class="detail_item">
			<div class="detail_header">
				{% for img in imagesOutput %}
					{% if img.name == "фото главное" %}
					<a href="/{{ img.directory }}/{{ img.base }}" class="glightbox detail_images--link" data-gallery="gallery1">
					  <div class="battle_main_pic"><img src="/{{ img.directory }}/{{ img.base }}" />
					  <svg class="detail_images--plus" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24"><path d="M11.5 0C17.847 0 23 5.153 23 11.5S17.847 23 11.5 23 0 17.847 0 11.5 5.153 0 11.5 0zm0 1C17.295 1 22 5.705 22 11.5S17.295 22 11.5 22 1 17.295 1 11.5 5.705 1 11.5 1zm.5 10h6v1h-6v6h-1v-6H5v-1h6V5h1v6z"/></svg>
					  </div>
					  
					  </a>
					{% endif %}
				{% else %}
				Нет фото
				{% endfor %}
				<div class="detail_name">{{ name }}</div>
				<div class="detail_years">{{ dates | safe }}</div>
			</div>
			<div class="detail_text">

				{% for file in filesOutput %}
	
					<div class="detail_text_block">



						{{ file.tpContent | safe }}
					</div>

				{% endfor %}
				
			</div>
<div class="detail_images">
									{% for img in imagesOutput %}
							{% if img.name !== "фото главное" %}
							  <a href="/{{ img.directory }}/{{ img.base }}" class="glightbox detail_images--link" data-gallery="gallery1">
							  <img src="/{{ img.directory }}/{{ img.base }}" />
<svg class="detail_images--plus" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 24 24"><path d="M11.5 0C17.847 0 23 5.153 23 11.5S17.847 23 11.5 23 0 17.847 0 11.5 5.153 0 11.5 0zm0 1C17.295 1 22 5.705 22 11.5S17.295 22 11.5 22 1 17.295 1 11.5 5.705 1 11.5 1zm.5 10h6v1h-6v6h-1v-6H5v-1h6V5h1v6z"/></svg>							 
</a>
							{% endif %}
						{% endfor %}
						</div>
		</div>
		<a href="{{ baseUrl }}" class="nav-arr nav-arr-left">
			<svg viewBox="0 0 70 70"><circle class="arr" cx="35" cy="35" r="34.5"/><path class="arr" d="M46.13 51.26l-19-17 19-17"/></svg>
		</a>

	</div>
</div>