<div class="list_container" style="width: calc({{ items | length}} * 355px + 144px)">
	{% for item in items %}
		<div class="list_item">
			<a href="{{ baseUrl }}/{{ loop.index0 }}">
				{% for img in item.imagesOutput %}
	{% if img.name == "фото главное" %}
	  <div class="list_image"><img src="/{{ img.directory }}/{{ img.base }}" /></div>
	{% endif %}
{% else %}
Нет фото
{% endfor %}
				
				<div class="list_name">{{ item.name }}</div>
			</a>
		</div>
	{% endfor %}
</div>