
<div class="scroller_list_container">
	<div class="scroller_list_item">

		<div class="detail_item">
			<div class="detail_header">
				<div class="detail_name">Концентрационные лагеря</div>
				<div class="detail_years">Краткая историческая справка</div>
			</div>
			<div class="detail_text">

<p>Сам термин &laquo;концентрационный лагерь&raquo; появился ещё во второй половине XIX века. Первоначально термин использовался в основном в отношении лагерей для военнопленных и интернированных лиц. Концлагеря строились армией США на Кубе для пленных испанских солдат, Британской армией для пленных буров. В Европе первый концентрационный лагерь был построен в Австро-Венгрии для галичан, симпатизировавших России.</p>
<img src="/concentration_camp/images/1.jpg" alt="" class="img-float-left">
	<p>Но известнее всего в истории концентрационные лагеря Третьего Рейха. Термин &laquo;концентрационный лагерь&raquo; часто применяют ко всем лагерям Третьего Рейха. Однако изначально каждый лагерь имел своё предназначение. Были трудовые, транзитные, концентрационные лагеря, а также лагеря усиленного труда и отдельные для военнопленных.</p>
<img src="/concentration_camp/images/2.jpg" alt="" class="img-float-right">
	<p>У каждого заключённого была своя отличительная метка и порядковый номер (в некоторых лагерях номер татуировали на самом человеке). Система пометок основывалась на использовании винкелей &mdash; перевёрнутых треугольников из разноцветной материи, нашитых на тюремную робу заключённых, чтобы лагерная охрана легко могла распознавать их принадлежность к определённой категории. Классификация была довольно сложна. Так, например, политические заключенные (коммунисты, члены профсоюзов, либералы, социал-демократы, масоны и анархисты) отмечались красным треугольником. У уголовников был зелёный, а у цыган &ndash; коричневый и т. п.</p>

	<img src="/concentration_camp/images/3.jpg" alt="" class="img-float-left"><p>Евреи помечались двумя треугольниками, лежащими друг на друге, образуя звезду Давида. При этом нижний треугольник был жёлтого цвета, а верхний соответствовал категории заключённого. Иногда добавлялись и другие пометы для обозначения национальности или функции заключённого (например, для капо, старших по бараку или блоку). Дополнительно на треугольник наносилась буква, показывающая происхождение заключённого, например, &laquo;P&raquo; &mdash; поляков. Заключённые, пытавшиеся бежать, имели красно-белые метки на груди и спине.</p>
<img src="/concentration_camp/images/4.jpg" alt="" class="img-float-right">
	<p>Если до Второй мировой войны в концлагерях содержались главным образом асоциальные элементы, уголовники и политические противники национал- социалистического режима, то после 1939 года лагеря стали стремительно наполняться пленными и арестантами из оккупированных областей.</p>

	<img src="/concentration_camp/images/5.jpg" alt="" class="img-float-left"><p>В частности, пленных могли направлять в уже существующие лагеря или организовывать новые. Были и специальные концлагеря для офицерского состава (например, Хаммельбург). С 1937 года появляются концлагеря для женщин. В 1943 году еврейские гетто, некоторые тюрьмы гестапо и рабочие лагеря для евреев на оккупированных территориях были объявлены концентрационными лагерями. Помимо тяжёлой работы, скудной пищи, беззащитности узников и полного произвола администрации, в некоторых концлагерях над узниками ставились и медицинские эксперименты. Например, в лагере Освенцим опыты над близнецами проводил врач Й. Менгеле. В ходе экспериментов из более чем 1500 пар близнецов выжило только 300. В концлагере Дахау заключённых целенаправленно заражали малярией для разработки вакцины против этой болезни. В других лагерях ставились не менее бесчеловечные опыты.</p>

	<p>Всего с 1939 по 1945 год в концентрационные лагеря было заключено около 2,5 миллиона человек, из которых немцы составляли примерно 15 %.</p>

			</div>
		</div>

	</div>
</div>