	
<div class="detail-text">
	<h1>Концентрационные лагеря.<br />Краткая историческая справка.</h1>

	<img src="/concentration_camp/images/1.jpg" alt=""><p>Сам термин &laquo;концентрационный лагерь&raquo; появился ещё во второй половине XIX<br />века. Первоначально термин использовался в основном в отношении лагерей для<br />военнопленных и интернированных лиц. Концлагеря строились армией США на Кубе для<br />пленных испанских солдат, Британской армией для пленных буров. В Европе первый<br />концентрационный лагерь был построен в Австро-Венгрии для галичан,<br />симпатизировавших России.</p>

	<img src="/concentration_camp/images/2.jpg" alt=""><p>Но известнее всего в истории концентрационные лагеря Третьего Рейха.<br />Термин &laquo;концентрационный лагерь&raquo; часто применяют ко всем лагерям Третьего<br />Рейха. Однако изначально каждый лагерь имел своё предназначение. Были трудовые,<br />транзитные, концентрационные лагеря, а также лагеря усиленного труда и отдельные для<br />военнопленных.</p>

	<img src="/concentration_camp/images/3.jpg" alt=""><p>У каждого заключённого была своя отличительная метка и порядковый номер (в<br />некоторых лагерях номер татуировали на самом человеке).<br />Система пометок основывалась на использовании винкелей &mdash; перевёрнутых<br />треугольников из разноцветной материи, нашитых на тюремную робу заключённых,<br />чтобы лагерная охрана легко могла распознавать их принадлежность к определённой<br />категории. Классификация была довольно сложна. Так, например, политические<br />заключенные (коммунисты, члены профсоюзов, либералы, социал-демократы, масоны и<br />анархисты) отмечались красным треугольником. У уголовников был зелёный, а у цыган &ndash;<br />коричневый и т. п.</p>

	<img src="/concentration_camp/images/4.jpg" alt=""><p>Евреи помечались двумя треугольниками, лежащими друг на друге, образуя звезду<br />Давида. При этом нижний треугольник был жёлтого цвета, а верхний соответствовал<br />категории заключённого. Иногда добавлялись и другие пометы для обозначения<br />национальности или функции заключённого (например, для капо, старших по бараку или<br />блоку). Дополнительно на треугольник наносилась буква, показывающая происхождение<br />заключённого, например, &laquo;P&raquo; &mdash; поляков. Заключённые, пытавшиеся бежать, имели<br />красно-белые метки на груди и спине.</p>

	<p>Если до Второй мировой войны в концлагерях содержались главным образом<br />асоциальные элементы, уголовники и политические противники национал-<br />социалистического режима, то после 1939 года лагеря стали стремительно наполняться<br />пленными и арестантами из оккупированных областей.</p>

	<img src="/concentration_camp/images/5.jpg" alt=""><p>В частности, пленных могли направлять в уже существующие лагеря или<br />организовывать новые. Были и специальные концлагеря для офицерского состава<br />(например, Хаммельбург). С 1937 года появляются концлагеря для женщин. В 1943 году<br />еврейские гетто, некоторые тюрьмы гестапо и рабочие лагеря для евреев на<br />оккупированных территориях были объявлены концентрационными лагерями.<br />Помимо тяжёлой работы, скудной пищи, беззащитности узников и полного<br />произвола администрации, в некоторых концлагерях над узниками ставились и<br />медицинские эксперименты. Например, в лагере Освенцим опыты над близнецами<br />проводил врач Й. Менгеле. В ходе экспериментов из более чем 1500 пар близнецов<br />выжило только 300. В концлагере Дахау заключённых целенаправленно заражали<br />малярией для разработки вакцины против этой болезни. В других лагерях ставились не<br />менее бесчеловечные опыты.</p>

	<p>Всего с 1939 по 1945 год в концентрационные лагеря было заключено около 2,5<br />миллиона человек, из которых немцы составляли примерно 15 %.</p>
</div>