	
<div class="scroller_list_container">
	<div class="scroller_list_item">

		<div class="detail_item">
			<div class="detail_header">
				<div class="detail_pic"><img src="{{ image }}" /></div>
				<div class="detail_name">{{ name }}</div>
			</div>
			<div class="detail_text">
				<img src="/{{ directory }}/{{ base }}" alt="" class="child-pic-detail">
			</div>
		</div>
		<a href="{{ baseUrl }}" class="nav-arr nav-arr-left">
			<svg viewBox="0 0 70 70"><circle class="arr" cx="35" cy="35" r="34.5"/><path class="arr" d="M46.13 51.26l-19-17 19-17"/></svg>
		</a>

	</div>
</div>