<div class="child-pic_container">
	{% for item in imagesOutput %}
		<img src="/{{ directory }}/{{ item.base }}" alt="" class="child-pic_img">
	{% endfor %}
	<a href="{% if id > 0 %}{{ baseUrl }}/{{ id - 1 }}{% endif %}" class="book-nav book-nav-left"></a>
	<a href="{% if id < 4 %}{{ baseUrl }}/{{ id + 1 }}{% endif %}" class="book-nav book-nav-right"></a>
</div>